<div id="site-footer" class="relative z-20" x-show="! showNav">
    <div class="text-center pt-5 relative space-y-3">
        <p class="inline-flex items-center text-sm leading-5 text-gray-500">
            Proudly made in {{ svg src="flag_cameroon" class="h-3 mx-1.5" }} by Arthur Monney
        </p>

        {{ partial:social }}

        <div class="inline-flex items-center px-3 py-2.5 text-sm text-white font-medium leading-5 bg-[#0080ff] rounded-md">
            hosted on {{ svg src="icons/digitalocean" class="h-6 w-auto ml-3" }}
        </div>
    </div>
</div>
