<nav id="side-nav" class="sticky top-16 lg:text-sm lg:leading-6">
    <div class="h-full">
        <div>
            <div class="h-10"></div>
            <div class="flex items-center">
                <form class="relative hidden bg-white md:flex items-center text-sm w-[240px] h-9 m-0 rounded-md shadow ring-1 ring-gray-900/10 relative top-[-2px] hover:ring-gray-300" action="/search-results">
                    <div id="docsearch" ref="docSearch"></div>
                </form>
            </div>
        </div>

        <div class="block w-full z-0">
            {{ if section }}
                {{ partial:sidebar }}
            {{ /if }}
        </div>
    </div>
</nav>
