<div class="grid grid-cols-2 gap-4 sm:flex sm:items-center sm:justify-center space-x-4 text-gray-500">
    <a class="bg-white hover:bg-gray-50 flex items-center rounded-md justify-center px-3 py-2 text-gray-500 hover:text-gray-900 text-sm" href="https://github.com/mckenziearts">
        {{ svg src="icons/github" class="mr-2 h-5 w-5 fill-current"}} Github
    </a>
    <a class="bg-white hover:bg-gray-50 flex items-center rounded-md justify-center px-3 py-2 text-gray-500 hover:text-gray-900 text-sm" href="https://twitter.com/monneyarthur">
        {{ svg src="icons/twitter"class="mr-2 h-5 w-5 fill-current" }} Twitter
    </a>
    <a class="bg-white hover:bg-gray-50 flex items-center rounded-md justify-center px-3 py-2 text-gray-500 hover:text-gray-900 text-sm" href="https://linkedin.com/in/arthurmonney">
        {{ svg src="icons/linkedin"class="mr-2 h-5 w-5 fill-current" }} LinkedIn
    </a>
    <a class="bg-white hover:bg-gray-50 flex items-center rounded-md justify-center px-3 py-2 text-gray-500 hover:text-gray-900 text-sm" href="mailto:contact@arthurmonney.me">
        {{ svg src="icons/mail"class="mr-2 h-5 w-5 fill-current" }} Mail
    </a>
</div>
